* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    gap: 0;
}

.grid > div {
    background-color: red;
}